.footer {

    background-color: rgba(0, 0, 0, 0.8);

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding: 2em;
        
        p {
            text-align: center;
        }
    }
}