.header {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &__container {
        padding: .5em 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;

        @media (max-width: 890px) {
            padding: .5em 10%;
        }
    }

    h1 {
        height: 62px;

        img {
            height: 100%;
        }
    }

    &__nav {
        width: 50%;

        @media (max-width: 890px) {
            width: 72%;
        }

        @media (max-width: 650px) {
            display: none;
        }

        &__list  {
            display: flex;
            justify-content: space-between;
        }
    }

    &__link {
        text-decoration: none;
        transition: .2s ease;
        border-bottom: 2px solid transparent;

        &:hover {
            box-shadow: 0px 0px 75px 10px rgba(255, 255, 255, 0.075);
            border-color:#FFF;
        }
    }
}